#一个函数有多个返回值，调用该函数的同时，把结果赋给一个DataFrame的多个变量

In [ ]:
import pandas as pd

test_1_df = pd.read_excel(r"D:\GEO\题目一.xlsx",sheet_name = '工作表1')

def etl(etl_str):
    etl_list = etl_str.split(';')
    etl_list2 = []
    for i in etl_list:
        temp_list = [j.split(':')[1] for j in i.split(',')]
        etl_list2.append(temp_list)
        
    etl_df = pd.DataFrame(etl_list2,columns = ['is_bank','platform_ID','reg_date']).astype({'reg_date':'datetime64'})
    
    reg_cnt = len(etl_df)   ##统计注册总次数
    reg_non_bank_cnt = len(etl_df[etl_df['is_bank'] == '非银行'])   ##统计注册总次数_非银行
    reg_min_date = min(etl_df['reg_date'].dt.date)   ##最早注册时间
    reg_unique_platform_cnt = len(etl_df['platform_ID'].unique())   ##注册平台数
    
    return reg_cnt,reg_non_bank_cnt,reg_min_date,reg_unique_platform_cnt

test_1_df[['注册总次数','注册次数_非银行','最早注册时间','注册平台数']] \
= test_1_df.apply(lambda x:etl(x['raw1']),axis=1,result_type = 'expand')

还有一种方法详见https://github.com/justmarkham/pandas-videos/blob/master/top_25_pandas_tricks.ipynb第16个例子

In [ ]:
df = pd.DataFrame({'name':['John Arthur Doe', 'Jane Ann Smith'],
                   'location':['Los Angeles, CA', 'Washington, DC']})
df

In [ ]:
df.name.str.split(' ', expand=True)

In [ ]:
df[['first', 'middle', 'last']] = df.name.str.split(' ', expand=True)
df